<div class="page_header">  
  <h1>Quotes</h1>
</div>
<br>
<div class="center-button">
  <%= link_to new_quote_path, class: "btn btn-default" do %>
    New Quote <span class="glyphicon glyphicon-thumbs-up"></span>
  <% end %>
</div>
<br>
<div class="container quotes_page">
  <ul class="list-group">
    <% @quotes.each do |quote| %>
      <li class="list-group-item">
        <div id="quote_content">
          <%= quote.content %>
        </div>
        
        <div id="quote_actions" class="pull-right">
          <%= link_to edit_quote_path(quote), class: "btn btn-default btn-sm" do %>
            Edit <span class="glyphicon glyphicon-pencil"></span>
          <% end %>
          <%= link_to quote, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" do %>
            Delete <span class="glyphicon glyphicon-trash"></span>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
