<div class="homepage">
	
	<div class="page_header">
  		<h1>Home</h1>
	</div>
	<div class="jumbotron">
		<div class="container">
			<h2>What? You haven't added any words yet?</h2>
			<h3>"I have, but it's been a while!"</h3>
			<h1>
				Blah Blah!
				<% if user_signed_in? %>
					<%= link_to current_user.word_list, class: "btn btn-primary btn-lg" do %>
						Get Started
						<span class="glyphicon glyphicon-thumbs-up"></span>
					<% end %>
				<% else %>
					<%= link_to new_user_session_path, class: "btn btn-primary btn-lg" do %>
						Get Started
						<span class="glyphicon glyphicon-thumbs-up"></span>
					<% end %>
				<% end %>
			</h1>
		</div>
	</div>

</div>