<div class="page_header">
  <h1>Edit Word</h1>
</div>

<div class="container edit_word">
	<%= render 'edit_word_form' %>
	<br>
	<%= link_to 'Back', current_user.word_list, class: "btn btn-default" %>
</div>