/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

$font-family-sans-serif: 'Didact Gothic', sans-serif;
$headings-font-family: 'Poiret One', sans-serif;

$text-color: #12061C;

$brand-primary: #fdfdfd;

$brand-danger: #780B25;

$body-bg: #FAFAFF;
$navbar-default-bg: #7824B8;
$link-color: $navbar-default-bg;
$navbar-border-radius: 0;

$btn-primary-bg: #6822AD;
$btn-primary-color: $brand-primary;

$btn-info-bg: #2D163E;
$btn-info-color: $brand-primary;

$table-bg: white;

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Poiret+One|Indie+Flower|Didact+Gothic);
@import "pages";
