// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar {
		margin-bottom: 0;
}

.navbar-header {
	.navbar-brand {
		color: $brand-primary;
		font-family: 'Indie Flower', sans-serif;
		font-weight: bold;
		font-size: 1.9em;
	}
}

.page_header {
	background-color: #FFFAFF;	
	text-align: center;
		h1 {
			margin-top: 0;
			padding: 0.5em 0;
		}
}

.table {
	max-width: 730px;
	margin-left: auto;
	margin-right: auto;
}

#new-word-button {
	text-align: center;
}

th {
	color: $navbar-default-bg;
}