// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.alert {
	margin-top: 1em;
}

footer {
	background-color: #FFFAFF;
	.navbar-brand {
		font-family: 'Indie Flower', sans-serif;
		font-weight: bold;
		color: lighten($link-color, 15%);
		&:hover { color: $link-color; }
	}
}

.navbar {
		margin-bottom: 0;
}

#navbar {
	a {
		font-family: $headings-font-family;
		color: $brand-primary;
		&:hover { color: darken($brand-primary, 10%); }
	}
	span {
		color: lighten($navbar-default-bg, 25%);
		&:hover {
			color: lighten($navbar-default-bg, 20%);
		}
	}
}

.navbar-header {
	.navbar-brand {
		color: $brand-primary;
		&:hover { color: darken($brand-primary, 10%); }
		font-family: 'Indie Flower', sans-serif;
		font-weight: bold;
		font-size: 1.9em;
	}
}

body {
	padding-bottom: 60px;
	padding-top: 50px;
}

.page_header {
	background-color: #FFFAFF;	
	text-align: center;
		h1 {
			margin-top: 0;
			padding: 0.5em 0;
		}
}

.jumbotron {
	font-family: $font-family-sans-serif;
	text-align: center;
	background-color: lighten(#EEEEEE, 1%);
	a {
		position: relative;
		bottom: 0.25em;
		font-weight: bold;
		span {
			margin-left: 2%;
		}
	}
}

#quote {
	text-align: center;
	margin-bottom: 1.75em;
}

.table {
	max-width: 730px;
	margin-left: auto;
	margin-right: auto;
	td:first-child a {
		color: $text-color;
		&:hover { color: darken($text-color, 10%); }
		span {
			color: $link-color;
		}
	}
	td:nth-child(2) {
		// font-weight: bold;
		color: darken($btn-info-bg, 10%);
	}
	th {
	color: $navbar-default-bg;
	}
}

.btn-info {
	font-weight: bold;
}

.glyphicon-remove {
	color: $brand-danger;
}