// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.alert {
	margin-top: 1em;
}

footer {
	background-color: #FFFAFF;
	.navbar-brand {
		font-family: 'Indie Flower', sans-serif;
		font-weight: bold;
		color: lighten($link-color, 15%);
		&:hover { color: $link-color; }
	}
}

.navbar {
		margin-bottom: 0;
}

#navbar {
	a {
		font-family: $headings-font-family;
		color: $brand-primary;
		&:hover { color: darken($brand-primary, 10%); }
	}
	span {
		color: lighten($navbar-default-bg, 25%);
		&:hover {
			color: lighten($navbar-default-bg, 20%);
		}
	}
}

.navbar-header {
	.navbar-brand {
		color: $brand-primary;
		&:hover { color: darken($brand-primary, 10%); }
		font-family: 'Indie Flower', sans-serif;
		font-weight: bold;
		font-size: 1.9em;
	}
}

body {
	padding-bottom: 60px;
	padding-top: 50px;
}

.page_header {
	background-color: #FFFAFF;	
	text-align: center;
		h1 {
			margin-top: 0;
			margin-bottom: 0;
			padding: 0.5em 0;
		}
}

.jumbotron {
	margin-top: 0.7em;
	font-family: $font-family-sans-serif;
	text-align: center;
	background-color: lighten(#EEEEEE, 1%);
	a {
		position: relative;
		bottom: 0.25em;
		font-weight: bold;
		span {
			margin-left: 2%;
		}
	}
}

.quote {
	text-align: center;
	margin-bottom: 1.75em;
}

// #words_grid {
// 	display: none;
// }

.table {
	margin-left: auto;
	margin-right: auto;
	#show-all-button {
		position: relative;
		top: 2px;
		margin-right: -30px;
		margin-left: 2px;
		padding: 2px 5px;
	}
	td:first-child {
		white-space: nowrap;
		span {
			font-size: 0.9em;
			margin-left: 2px;
		}
		a {
			color: $text-color;
			&:hover { color: darken($text-color, 10%); }
			span {
				color: $link-color;
			}
		}
	}
	td:nth-child(2) {
		// font-weight: bold;
		color: darken($btn-info-bg, 10%);
	}
	th {
		padding-top: 0 !important;
		color: $navbar-default-bg;
	}
}

.categories_container {
	width: 20%;
	max-width: 146px;
	a { 
		margin: 2px 0;
	}
}

.btn-info {
	font-weight: bold;
}

.glyphicon-remove {
	color: $brand-danger;
}


/*************************************************
		MANAGE CATEGORIES PAGE
*************************************************/

.manage_categories {
	margin-top: 0.85em;
	#create_category_btn_parent_div {
		margin-bottom: 0.75em;
	}
	ul {
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
		a:nth-child(2) {
			position: absolute;
			right: 7px;
			bottom: 6.5px;
		}
		a:first-child {
			position: absolute;
			right: 87px;
			bottom: 6.5px;
		}
	}
	li {
		color: $navbar-default-bg;
		font-size: 1.2em;
	}
	.center-button:last-child {
		span {
			margin-left: 3px;
		}
	}
}

/*************************************************
		EDIT WORD PAGE
*************************************************/

.edit_word {
	max-width: 600px;
}

/*************************************************
		NEW QUOTE PAGE
*************************************************/

.new_quote {
	text-align: center;
	max-width: 600px;
}

/*************************************************
		SHOW QUOTE PAGE
*************************************************/

.quote_page {
	max-width: 600px;
}

/*************************************************
		EDIT QUOTE PAGE
*************************************************/

.edit_quote {
	max-width: 600px;
	text-align: center;
}

/*************************************************
		QUOTES PAGE
*************************************************/

.quotes_page {
	.center-button {
		margin-top: 1.5em;
	}
	ul {
		max-width: 700px;
		margin-left: auto;
		margin-right: auto;
		a:last-child {
			position: absolute;
			top: -5px;
			right: -10px;
		}
		a:nth-child(1) {
			position: absolute;
			top: -5px;
			right: 68px;
		}
	}
}

/*************************************************
		LOGIN PAGE
*************************************************/

.login_page {
	max-width: 600px;
	margin-top: 1.5em;
	.actions {
		margin: 0.5em 0;
	}
}