<footer class="navbar navbar-fixed-bottom">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand" do %>
    	MyWordList
  	<% end %>

  	<p class="navbar-text navbar-right">Website Design & Development by <a href="http://github.com/Yorkshireman" target="_blank" class="navbar-link">Andrew Stelmach</a></p>
  </div>
</footer>